{% extends '_templates/base.njk' %}

{% block page_title %}Queen Band Website{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen Official Website</h1>
  <p>Queen "are a British rock band formed in London in 1970 by Freddie Mercury, Brian May, Roger Taylor, and, later, John Deacon."
  Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)" target="_blank">Wikipedia</a></p>
  <h2>Members of Queen</h2>
  <p>Learn more about the members of Queen.</p>
  <div class="row">
    {% for queen in queen.queen %}
      <div class="col">
        <img src="img/{{ queen.image }}.jpg" alt="Photo of {{ queen.name }}" class="img-fluid">
        <h3><a href="queen/{{ queen.slug }}.html">{{ queen.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Fun Facts</h2>
  <p>These are my favorites.</p>
  <hr>
  {% for store in bookstores.stores %}
    <h3><a href="{{ store.url }}" target="_blank">{{ store.name }}</a></h3>
    <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %}