{% extends '_templates/base.njk' %}

{% block page_title %}Official Queen Website{% endblock %}

{% block page_description %}A list of facts about the four members of Queen.{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of pirates</h1>
  <p>Intro text here.</p>
</article>
{% endblock %}