{% extends '_templates/base.njk' %}

{% block page_title %}Official Queen Website{% endblock %}

{% block page_description %}A list of facts about the four members of Queen.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen Official Website</h1>
  <p>Queen "are a British rock band formed in London in 1970 by Freddie Mercury, Brian May, Roger Taylor, and, later, John Deacon."
  Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)" target="_blank">Wikipedia</a>.</p>
  <h2>Members of Queen</h2>
  <p>Learn more about the members of Queen!</p>
</div>
{% endblock %}